@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inder&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
/* Body of the container */
.page_wrapper {
  display: flex;
  justify-content: center;
}

.body {
  color: black;
  flex-grow: 1;
  margin-left: 15px;
  margin-top: 30px;
}
@media (max-width: 620px) {
  .body {
    margin-left: 60px;
  }
}
@media (max-width: 400px) {
  .body {
    margin-left: 50px;
  }
}

.blur {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}

/* Page */
.page {
  display: none;
  height: -moz-fit-content;
  height: fit-content;
  max-width: 910px;
  width: 97%;
  /* flexbox */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* All Posts Page */
.header {
  width: 100%;
  /* flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D8D8D8;
  padding: 0 20px 2px 20px;
}
.header span {
  color: #000000;
  font-family: "ABeeZee", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}
.header img {
  width: 16px;
  height: 16px;
}

/* Create post form */
.createpost_form {
  width: 100%;
  /* flexbox */
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #D8D8D8;
  padding: 20px;
}
@media (max-width: 400px) {
  .createpost_form {
    padding-left: 0px;
  }
}
@media (max-width: 310px) {
  .createpost_form {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.createpost_form .form_top {
  width: 100%;
  /* flexbox */
  display: flex;
  justify-content: flex-start;
}
.createpost_form .form_top div {
  width: 100%;
  /* flexbox */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.createpost_form .form_top .profile {
  font-size: 35px;
  color: #195579;
  margin-right: 17px;
}
.createpost_form .form_top div textarea {
  border: none;
  outline: none;
  height: 30px;
  min-height: 30px;
  margin-top: 8px;
  width: 100%;
  min-width: 125px;
  max-width: 350px;
}
.createpost_form .form_top div textarea:focus {
  border: 0.5px ridge #195579;
  border-radius: 5px;
}
.createpost_form .form_top div textarea::-moz-placeholder {
  font-family: "ABeeZee", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #828282;
}
.createpost_form .form_top div textarea::placeholder {
  font-family: "ABeeZee", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: #828282;
}
.createpost_form .form_bottom {
  width: 100%;
  /* flexbox */
  display: flex;
  justify-content: flex-end;
}
.createpost_form .form_bottom input {
  width: 80px;
  height: 37px;
  border-radius: 18.5px;
  background: #1DA1F2;
  border: none;
  margin-top: 5px;
  font-family: "Inder", sans-serif;
  font-size: 12.58px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  color: #ffffff;
}
@media (max-width: 340px) {
  .createpost_form .form_bottom input {
    margin-top: 10px;
  }
}
.createpost_form .form_bottom input:hover {
  background: #1475b1;
}

/* End of create post form */
/* Posts */
.posts_wrapper {
  width: 100%;
}

.post {
  width: 100%;
  /* flexbox */
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #D8D8D8;
  padding: 20px;
  /* Header */
  /* End of header */
}
@media (max-width: 400px) {
  .post {
    padding-left: 0px;
  }
}
@media (max-width: 310px) {
  .post {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
  }
}
.post .post_header {
  /* flexbox */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}
@media (max-width: 425px) {
  .post .post_header .edit {
    width: 100%;
    text-align: right;
  }
  .post .post_header .done_wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
.post .post_header .edit {
  font-size: 13px;
  color: #195579;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  margin-left: 10px;
  cursor: pointer;
}
.post .post_header .done {
  font-size: 10px;
}
.post .post_header div {
  display: flex;
  align-items: center;
}
.post .post_header .profile {
  font-size: 35px;
  color: #195579;
  margin-right: 12px;
}
.post .post_header .username {
  color: #000;
  font-size: 14px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  margin-right: 12px;
}
.post .post_header .date {
  color: #9F9F9F;
  font-size: 13px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  white-space: nowrap;
  padding-top: 4px;
}
.post .content {
  color: #000000;
  font-size: 15px;
  font-family: "Inder", sans-serif;
  margin: 5px 0 10px 47px;
}
.post .edit_content {
  border-radius: 5px;
  padding: 3px 0 0 5px;
}
.post .likes {
  margin-left: 47px;
  /* flexbox */
  display: flex;
  align-items: center;
}
.post .likes i {
  color: #FF0000;
  margin-right: 3px;
}
.post .likes span {
  color: #C4C4C4;
  font-size: 12px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  align-self: flex-end;
}
@media (max-width: 740px) {
  .post .content, .post .likes {
    margin-left: 15px;
  }
}
@media (max-width: 300px) {
  .post .content, .post .likes {
    margin-left: 5px;
  }
}
@media (max-width: 365px) {
  .post .content {
    font-size: 13.5px;
  }
  .post .post_header .profile {
    margin-right: 7px;
  }
  .post .post_header .username {
    font-size: 12px;
    margin-right: 7px;
    margin-top: 4px;
  }
  .post .post_header .date {
    font-size: 11px;
  }
}
@media (max-width: 300px) {
  .post .content {
    font-size: 13px;
  }
  .post .post_header .username {
    font-size: 11px;
    max-width: 56px;
  }
  .post .post_header .date {
    font-size: 10px;
  }
}
@media (max-width: 285px) {
  .post .post_header .date {
    white-space: wrap;
  }
}

@media (max-width: 320px) {
  .post {
    padding-right: 0;
  }
  .post_header .edit {
    padding-right: 4px;
  }
}
/* End of Posts *//*# sourceMappingURL=body.css.map */